<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0412D0D1EFB91FE007335D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0412D211EFB91FF007335D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0412D2C1EFB91FF007335D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
